<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <title>booking</title>
  </head>
  <body>
  <header></header>
  <div id="calendar"></div>

  </body>
</html>