body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 60px;
  h1 {
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
    text-align: center;
    float: left;
  }
}
#cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  margin: 0 auto;
  &__tab {
    margin-left: 110px;
  }

  ul {
    display: flex;
    
    li {
      list-style: none;
      line-height: 50px;
      border: 1px solid #000000;
      text-align:center;
      width: 20%;

    }
  }
}
content {
  
}
.content-left {
  width: 500px;
  float: left;
  }
#content-right {
  width: 700px;
  zoom: 0.75;
  float: left;
  margin-left: 30px;
  }
